:root {
  --swiper-theme-color: white;
}

html {
  background-color: black;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
}

*, :after, :before {
  box-sizing: border-box;
}

a {
  font-decoration: none;
}

.sections {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow: auto;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 50px 10%;
  position: relative;
}

.main {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slides {
  scroll-snap-type: x mandatory;
  display: flex;
  position: absolute;
  width: 100vw;
  overflow: scroll;
}

.slide {
  flex: 0 0 100vw;
  scroll-snap-align: start;
}

.slides_nav {
  position: absolute;
  top: calc(50% - 10px);

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

section .slides {
  margin: 0 -10%;
  // Full height, minus the title and vertical padding of the section
  height: calc(100% - 154px);

  .slide {
    padding: 0 10%;
  }
}

.row {
  display: flex;
}

.col {
  flex: 1 0 auto;
  margin: 0 10px;
}

.max_width {
  margin: 0 -10%;
}

.single_line {
  line-height: 1;
}

.content_within_section {
  height: calc(100% - 140px);
}

.ratio {
  display: inline-grid;
  height: 100%;

  > * {
    grid-area: 1/1;
  }

  > svg {
    height: 100%;
  }
}

.ratio_height {
  display: inline-grid;
  height: 100%;

  > * {
    grid-area: 1/1;
  }

  > svg {
    height: 100%;
  }
}

.ratio_width {
  display: inline-grid;
  width: 100%;

  > * {
    grid-area: 1/1;
  }

  > svg {
    width: 100%;
  }
}

.rect {
  background: red;
}