$blue: #05205f;

html {
  background: $blue;
}

.bubble {
  width: 55px;
  height: 45px;
  display: block;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 5px 10px 20px #ffffff75;
  background: radial-gradient(ellipse at bottom right, #ffffffa8 0%, transparent 70%);
  top: 0;
  animation: wobble 5s linear infinite;    
}

.bubble_wrapper_outer {
  animation: float 25s linear infinite;
}

.bubble_wrapper_inner {
  animation: drift 8s linear infinite;
}

@keyframes wobble {
  0%, 100% { 
    transform: scale(1.1, 1);
  }
  50% { 
    transform: scale(0.8, 1.02);
  }
}

@keyframes float {
  0% {
    transform: translateY(calc(100vh + 50px));
  }
  100% { 
    transform: translateY(-50px);
  }
}

@keyframes drift {
  0%, 100% {
    transform: translateX(40px);
  }
  50% { 
    transform: translateX(0);
  }
}

