$blue: #05205f;

html {
  background: $blue;
}

.bubble {
  width: 50px;
  height: 45px;
  display: block;
  position: absolute;
  border-radius: 50%;
  box-shadow: inset 5px 10px 20px #ffffff75;
  background: radial-gradient(ellipse at bottom right, #ffffffa8 0%, transparent 70%);
  top: 0;
  animation: 
    wobble 5s infinite,
    drift 5s ease-in-out infinite,
    float 25s linear infinite;
}

@keyframes wobble {
  0%, 100% { 
    width: 55px;
    height: 45px;
  }
  50% { 
    width: 40px;
    height: 47px;
  }
}

@keyframes float {
  0% {
    transform: translateY(calc(100vh + 50px));
  }
  100% { 
    transform: translateY(-50px);
  }
}

@keyframes drift {
  0%, 100% {
    transform: translateX(40px);
  }
  50% { 
    transform: translateX(0);
  }
}

